
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inst-USERS</title>
    <link rel="icon" type="image/png" href="/media/images/Inst_icon.png"/>
    <link rel="stylesheet" href="/static/css/us_li.css">
</head>
<body>
    <main>
        {% for us in users %}
        <form action="" method="post">  {% csrf_token %}
            <div class="us">
                <div class="usav">
                    <img 
                        src="{{ us.avatar }}" 
                        alt=""
                        class="uav"
                    >
                </div>
                <div class="un">
                    <input class="niu" name="nickname" value="{{ us.nickname }}" style="border: none;" readonly="True">
                </div>
                <div class="sus">
                    <input type="submit" value="sub">
                </div>
            </div>
        </form>
        {% endfor %}
    </main>
</body>
</html>