{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
    <link rel="stylesheet" href="../static/css/main_style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <nav>
            <div class="nlog">
                <span class="logo">Instagram</span>
            </div>
            <div class="nlog2">
                <div class="yog">
                    <span class="nm_prof">selnoron</span>
                </div>
                <div class="yog">
                    <a href="" class="a-prof">PROFILE</a>
                </div>
            </div>
        </nav>
        <div class="mn_cont">
            <div class="fr">
                <div class="frinv">
                    
                    <div class="post">
                        <div class="pfr">
                            <div class="prf1">
                                <img 
                                    src="https://cdn.businessinsider.es/sites/navi.axelspringer.es/public/media/image/2021/11/avatar-2536561.jpg?tf=3840x" 
                                    alt="hello"
                                    class="pav"
                                >
                            </div>
                            <div class="prf2">
                                <span>selnoron</span>
                            </div>
                        </div>
                        <div class="pimg">
                            <img 
                                src="https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/58f60527666431.56368c2348eca.jpg" 
                                alt=""
                                class="pima"
                            >
                        </div>
                        <div class="pcom">
                            <div class="plike">
                                <div class="pl1">
                                    <a href="">LIKE</a>
                                </div>
                                <div class="pl2">
                                    <span>3</span>
                                </div>
                                <div class="pl3">
                                    <a href="" class="pll1">
                                        <span class="pll1s">comments</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
        
                </div>
            </div>
            <div class="sc">
                <div class="his">
                    <div class="hinv">
                        <div class="av">
                            <a href="">
                                <img 
                                    src="https://cdn.businessinsider.es/sites/navi.axelspringer.es/public/media/image/2021/11/avatar-2536561.jpg?tf=3840x" 
                                    alt=""
                                    class="imav"
                                >
                            </a>
                        </div>
                        <div class="hnick">
                            <a href="" class="ahi">create</a>
                        </div>
                    </div>
                </div>
                <div class="his">
                    <div class="hinv">
                        <div class="av">
                            <a href="">
                                <img 
                                    src="https://cdn.businessinsider.es/sites/navi.axelspringer.es/public/media/image/2021/11/avatar-2536561.jpg?tf=3840x" 
                                    alt=""
                                    class="imav"
                                >
                            </a>
                        </div>
                        <div class="hnick">
                            <span>selnoron</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>