{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
    <link rel="stylesheet" href="../static/css/main_style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <nav>
            <div class="nlog">
                <span class="logo">Instagram</span>
            </div>
            <div class="nlog2">
                <div class="yog">
                    <span class="nm_prof">{{ user.nickname }}</span>
                </div>
                <div class="yog">
                    <a href="" class="a-prof">PROFILE</a>
                </div>
            </div>
        </nav>
        <div class="mn_cont">
            <div class="fr">
                <div class="frinv">
                    {% for post in posts %}
                    <div class="post" id="{{ post.pk }}">
                        <div class="pfr">
                            <div class="prf1">
                                <img 
                                    src="{{ post.author.avatar }}" 
                                    alt="hello"
                                    class="pav"
                                >
                            </div>
                            <div class="prf2">
                                <span>{{ post.author.nickname }}</span>
                            </div>
                        </div>
                        <div class="pimg">
                            <img 
                                src="{{ post.file }}" 
                                alt=""
                                class="pima"
                            >
                        </div>
                        <div class="pcom">
                            <div class="plike">
                                <div class="pl1">
                                    <a href="/inst/post/{{ post.pk }}/like/">❤</a>
                                </div>
                                <div class="pl2">
                                    <span>{{ post.likes }}</span>
                                </div>
                                <div class="pl3">
                                    <a href="/inst/post/{{ post.pk }}/comm/" class="pll1">
                                        <span class="pll1s">comments</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    {% endfor %}
                </div>
            </div>
            <div class="sc">
                <div class="his">
                    <div class="hinv">
                        <div class="av">
                            <a href="/mk_his/">
                                <img 
                                    src="{{ user.avatar }}" 
                                    alt=""
                                    class="imav"
                                >
                            </a>
                        </div>
                        <div class="hnick">
                            <a href="/mk_his/" class="ahi">create</a>
                        </div>
                    </div>
                </div>
                {% for his in hiss %}
                <div class="his">
                    <div class="hinv">
                        <div class="av">
                            <a href="/inst/his/{{his.pk}}">
                                <img 
                                    src="{{ his.author.avatar }}" 
                                    alt=""
                                    class="imav"
                                >
                            </a>
                        </div>
                        <div class="hnick">
                            <span>{{ his.author.nickname }}</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>
</body>
</html>