{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inst_PROF</title>
    <link rel="icon" type="image/png" href="/media/images/Inst_icon.png"/>
    <link rel="stylesheet" href="/static/css/main_style.css">   
    <link rel="stylesheet" href="/static/css/prof_style.css">   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
</head>
<body class="pbody">
    <main>
        <nav>
            <div class="nlog">
                <img 
                    src="{{user.avatar}}" 
                    alt=""
                    class="imav"
                >
                <div class="nld">
                    <span  class="tyu">{{ user.nickname }}</span>
                </div>
            </div>
            <div class="nlog2">
                <div class="yog">
                    <span class="nm_prof">Posts</span>
                    <span class="nm">{{ lposts }}</span>
                </div>
                <div class="yog">
                    <span class="nm_prof">Followers</span>
                    <span class="nm">{{ lfow }}</span>
                </div>
                <div class="yog">
                    <span class="nm_prof">Following</span>
                    <span class="nm">{{ lfol }}</span>
                </div>
            </div>
        </nav>
        <div class="n_d_m">
            <div class="n_d_m_1">
                {% if user.name != None %}
                <span class="name">{{ user.name }}</span>
                {% endif %}
            </div>
            <div class="n_d_m_2">
                <span>
                    {{ user.description }}
                </span>
            </div>
        </div>
        <div class="mn_cont">
            <div class="fr">
                <div class="frinv">
                    
                    {% for post in posts %}
                    <div class="post" id="{{ post.pk }}">
                        <div class="pfr">
                            <div class="prf1">
                                <img 
                                    src="{{ post.author.avatar }}" 
                                    alt="hello"
                                    class="pav"
                                >
                            </div>
                            <div class="prf2">
                                <span>{{ post.author.nickname }}</span>
                            </div>
                        </div>
                        <div class="pimg">
                            <img 
                                src="{{ post.file }}" 
                                alt=""
                                class="pima"
                            >
                        </div>
                        <div class="pcom">
                            <div class="plike">
                                <div class="pl1">
                                    <a href="/inst/post/{{ post.pk }}/like/">❤</a>
                                </div>
                                <div class="pl2">
                                    <span>{{ post.likes }}</span>
                                </div>
                                <div class="pl3">
                                    <a href="/inst/post/{{ post.pk }}/comm/" class="pll1">
                                        <span class="pll1s">comments</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    {% endfor %}
        
                </div>
            </div>
            {% if user.nickname == session %}
            <div class="sc">
                <div class="sc_ad">
                    <div class="sd">
                        <a href="/inst/mk_pos/">create post</a>
                    </div>
                    <div class="sd">
                        <a href="/inst/mk_his/">create story</a>
                    </div>
                    <div class="sd">
                        <a href="/inst/us/list/">follow someone</a>
                    </div>
                    <div class="sd">
                        <a href="/dis/" id="logou">log out</a>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </main>
</body>
</html>